/* for global changes */
body {
  font-family: Ubuntu;
  background-color: #121212;
}

.article-text {
  text-align: justify;
  color: white;
}

.article-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.alignCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
