{% extends 'base_layout.html' %}

{% block content %}
<nav>
    <div class="nav-wrapper container">
        <a href="{% url 'articles:list' %}" class="brand-logo">Artículos</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/articles/">Artículos</a></li>
            <li><a id="logout" href="#">Cerrar Sesión</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1 class="center-align">Create an awesome blog</h1>
    <form class="site-form" action="{% url 'articles:create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <div class="center-align">
            <button type="submit" value="Create" class="btn reen lighten-2 z-depth-0">CREAR</button>
        </div>
    </form>
</div>
{% endblock %}