{% extends 'base_layout.html'%}

{% block content %}
  <div class="container">
    <h5 class="white-text center-align">Login</h5>
    <form class="site-form" action="{% url 'accounts:login' %}" method="post">
      {% csrf_token %}
      {{ form }}
      {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
      {% endif %}
      <div class="center-align">
        <button type="submit" value="Login" class="btn reen lighten-2 z-depth-0">Login</button>
      </div>
    </form>
  </div>
{% endblock %}
