{% extends 'base_layout.html'%}

{% block content %}
<style type="text/css">
.helptext {
  display: none;
}
</style>
  <div class="container">
    <h5 class="white-text center-align">Sign up</h5>
    <form class="site-form" action="{% url 'accounts:signup' %}" method="post">
      {% csrf_token %}
      {{ form }}
      <div class="center-align">
        <button type="submit" value="Signup" class="btn reen lighten-2 z-depth-0">Registrarse</button>
      </div>
    </form>
  </div>
{% endblock %}
